<div class="static_pages">
  <div class="home">
    <div class="title">
      <%= image_tag 'title.png' %>
    </div>

    <% if not user_signed_in? %>
      <div class="sign_up"><%= link_to "新規登録", new_user_registration_path, class: "btn" %></div>
      <div class="login"><%= link_to "ログイン", new_user_session_path, class: "btn" %></div>
      <div class="guestlogin"><%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "btn" %></div>
      <div class="googlelogin"><%= link_to "Googleアカウントでログイン", user_google_oauth2_omniauth_authorize_path, method: :post, class: "btn" %></div>
    <% end %>

    <div class="about">
      <div class="intro">
        <h1>Tabicolleとは?</h1>
        <p>Tabicolleは､旅行好きたちが旅の思い出のコレクションをシェアし合うサービスです｡</p>
      </div>

      <div class="detail1">
        <h2>何度でも旅の思い出蘇る</h2>
        <%= image_tag 'about1', class: "about1" %>
      </div>

      <div class="detail2">
        <h2>見つかる､新しい旅｡</h2>
        <div class="chat">

          <div class="balloon-left-wrap">
            <div class="balloon-left">
              <p>今週末どこ行く?</p>
            </div>
          </div>
          <br>
          <div class="balloon-right-wrap">
            <div class="balloon-right">
              <p>軽井沢とかどう?</p>
            </div>
            <br>
            <div class="balloon-right">
              <%= image_tag 'about2', class: "about2" %>
            </div>
          </div>
          <br>

          <div class="balloon-left-wrap">
            <div class="balloon-left">
              <p>いいね｡ 行こう!!</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="sign_up_bottom">
      <p>Tabicolleはあなたの旅の思い出を豊かにします｡<br>まずは会員登録から始めましょう</p>
      <%= link_to "今すぐ新規登録", new_user_registration_path, class: "btn" %>
    </div>
  </div>
</div>
