<div class="static_pages">
  <div class="home">
    <div class="title">
      <%= image_tag 'title.png' %>
    </div>

    <div class="sign_up"><%= link_to "新規登録", new_user_registration_path %></div>
    <div class="login"><%= link_to "ログイン", new_user_session_path %></div>

    <div class="about">
      <h1>Tabicolleとは?</h1>
      <p>tabicolleは､旅行好きたちが旅の思い出のコレクションをシェアし合うサービスです｡</p>

      <h2>何度でも旅の思い出蘇る</h2>
      <p><%= image_tag 'about1' %></p>

      <h2>見つかる､新しい旅｡</h2>
      <div class="chat">
        <div class="balloon-left">
          <p>今週末どこ行く?</p>
        </div>
        <br>
        <div class="balloon-right">
          <p>軽井沢とかどう?</p>
        </div>
        <br>
        <div class="balloon-right">
          <%= image_tag 'about2' %>
        </div>
        <br>
        <div class="balloon-left">
          <p>いいね｡ 行こう!!</p>
        </div>
      </div>
    </div>

    <div class="sign_up"><%= link_to "今すぐ新規登録", new_user_registration_path %></div>
  </div>
</div>
