<% provide(:title, @user.name) %>

<div class="users">
  <div class="show row">

    <div class="profile_wrap col-md-3">
      <div class="icon_wrap">
        <p class="name"><%= @user.name %></p>
        <p class="icon"><%= gravatar_for @user %></p>
      </div>
      <div class="relationship_wrap">
        <p class="following"><%= "フォロー #{@user.follower.count}" %></p>
        <p class="followed"><%= "フォロワー #{@user.followed.count}" %></p>
        <% unless @user == current_user %>
          <% if current_user.following?(@user) %>
            <%= link_to 'フォロー外す', unfollow_path(@user.id), method: :POST %>
          <% else %>
            <%= link_to 'フォローする', follow_path(@user.id), method: :POST %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="posts_wrap col-md-7">
      <%= render @posts %>
      <div class="paginate_wrap">
        <%= will_paginate @posts, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>　
      </div>
    </div>


    <%= render 'shared/sidebar' %>

  </div>
</div>
