<% provide(:title, @user.name) %>

<div class="users">
  <div class="show row">

    <div class="profile_wrap col-md-3">
      <div class="icon_wrap">
        <p class="name"><%= @user.name %></p>
        <p class="icon"><%= gravatar_for @user %></p>
      </div>
      <div class="relationship_wrap">
        <p class="following">フォロー n</p>
        <p class="followed">フォロワー m</p>
      </div>
    </div>

    <div class="posts_wrap col-md-7">
    <% @user.posts.each do |post|%>
      <div class="post">
        <div class="icon_wrap">
          <div class="icon">
            <%= gravatar_for @user %>
          </div>
          <div class="name">
            <%= @user.name %>
          </div>
        </div>
        <div class="content">
          <%= link_to post.content, "/posts/#{post.id}" %>
        </div>
      </div>
    <% end %>
    </div>


    <%= render 'shared/sidebar' %>

  </div>
</div>
