<% provide(:title, @user.name) %>

<div class="users">
  <div class="show row">

    <div class="profile_wrap col-md-3">
      <div class="icon_wrap">
        <p class="name"><%= @user.name %></p>
        <p class="icon"><%= gravatar_for @user %></p>
      </div>
      <div class="relationship_wrap">
        <p class="following"><%= "フォロー #{@user.follower.count}" %></p>
        <p class="followed"><%= "フォロワー #{@user.followed.count}" %></p>
        <% unless @user == current_user %>
          <% if current_user.following?(@user) %>
          <p class="unfollow_wrap"><%= link_to 'フォロー中', unfollow_path(@user.id), method: :POST, class: "unfollow" %></p>
          <% else %>
          <p class="follow_wrap"><%= link_to 'フォローする', follow_path(@user.id), method: :POST, class: "follow" %></p>
          <% end %>
        <% end %>
      </div>
      <div class="new_post_wrap">
        <%= link_to "新規投稿", new_post_path, class: "btn" %>
      </div>

      <h3>フォロー一覧</h3>
        <% @user.following_user.where.not(id: current_user.id).each do |user| %>
          <p>
            <%= "id: #{user.id} email: #{user.email}" %>
            <% if current_user.following?(user) %>
              <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
            <% else %>
              <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
            <% end %>
            <%= link_to "show", user_path(user) %>
          </p>
        <% end %>
      <h3>フォロワー一覧</h3>
        <% @user.follower_user.where.not(id: current_user.id).each do |user| %>
          <p>
            <%= "id: #{user.id} email: #{user.email}" %>
            <% if current_user.following?(user) %>
              <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
            <% else %>
              <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
            <% end %>
            <%= link_to "show", user_path(user) %>
          </p>
        <% end %>

    </div>

    <div class="posts_wrap col-md-7">
      <%= render @posts %>
      <div class="paginate_wrap">
        <%= will_paginate @posts, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>　
      </div>
    </div>


    <%= render 'shared/sidebar' %>

  </div>
</div>
