<% provide(:title, @user.name) %>

<div class="users">
  <div class="show row">

    <div class="profile_wrap col-md-3">
      <div class="icon_wrap">
        <p class="name"><%= @user.name %></p>
        <p class="icon"><%= gravatar_for @user %></p>
      </div>
      <div class="relationship_wrap">
        <p class="following"><%= "フォロー #{@user.follower.count}" %></p>
        <p class="followed"><%= "フォロワー #{@user.followed.count}" %></p>
        <% unless @user == current_user %>
          <% if current_user.following?(@user) %>
          <p class="unfollow_wrap"><%= link_to 'フォロー中', unfollow_path(@user.id), method: :POST, class: "unfollow" %></p>
          <% else %>
          <p class="follow_wrap"><%= link_to 'フォローする', follow_path(@user.id), method: :POST, class: "follow" %></p>
          <% end %>
        <% end %>
      </div>
      <% if @user == current_user %>
      <div class="new_post_wrap">
        <%= link_to "新規投稿", new_post_path, class: "btn" %>
      </div>
      <% end %>

      <div class="following_followers_wrap">

        <h2>フォロー一覧</h2>

        <div class="following">
          <% @user.following_user.each do |user| %>
          <div class="container">
            <p class="icon"><%= link_to gravatar_for(user), user %></p>
            <p class="name"><%= link_to user.name, user %></p>
          </div>
          <% end %>
        </div>

        <h2>フォロワー一覧</h2>
        <div class="followers">
          <% @user.follower_user.each do |user| %>
          <div class="container">
            <p class="icon"><%= link_to gravatar_for(user), user %></p>
            <p class="name"><%= link_to user.name, user %></p>
          </div>
          <% end %>
        </div>

      </div>

      </div>

    <div class="posts_wrap col-md-7">
      <%= render @posts %>
      <div class="paginate_wrap">
        <%= will_paginate @posts, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>　
      </div>
    </div>


    <%= render 'shared/sidebar' %>

  </div>
</div>
