   <div class="form_wrap col-md-8">
      <%= form_for(@course)  do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="field">
          <%= f.label :title, "タイトル" %><em class="mandatory">必須</em><br />
          <%= f.text_field :title , class: "title_box" , required: true , placeholder: "◯◯満喫 ●●巡りの旅" %>
        </div>
        <div class="field">
          <%= f.label :date, "日付" %><em class="mandatory">必須</em><br />
          <%= f.date_field :date , value: Time.now.strftime("%Y-%m-%d"), required: true %>
        </div>

        <div id="logs">
          <%= f.fields_for :logs do |log| %>
            <%= render 'log_fields', f: log %>
          <% end %>
          <div class='links'>
            <%= link_to_add_association '旅行スポットの追加', f, :logs %>
          </div>
        </div>

        <div class="field">
          <%= f.label :general_memo, "メモ" %><br />
          <%= f.text_area :general_memo  %>
        </div>


        <div class="actions">
          <%= f.submit "投稿", class: "btn" %>
        </div>
      <% end %>

    </div>
