<div class='nested-fields'>
  <div class="field">
    <%= f.label :spot, "旅行スポット" %><br />
    <%= f.text_field :spot  %>
  </div>
  <div class="field">
    <%= f.label :time, "時刻" %><br />
    <%= f.datetime_select :time %>
  </div>
  <div class="field">
    <%= f.label :detailed_memo, "メモ" %><br />
    <%= f.text_field :detailed_memo %>
  </div>
</div>
