<% provide(:title, "新規モデルコース投稿") %>

<div class="courses">
  <div class="new row">
    <h2>新規モデルコース投稿</h2>

    <div class="col-md-2">
    </div>

    <div class="form_wrap col-md-8">
      <%= form_for(@course, url: courses_path(@course))  do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="field">
          <%= f.label :title, "タイトル" %><em class="mandatory">必須</em><br />
          <%= f.text_field :title , class: "title_box" ,required: true %>
        </div>
        <div class="field">
          <%= f.label :date, "日付" %><em class="mandatory">必須</em><br />
          <%= f.date_field :date , value: Time.now.strftime("%Y-%m-%d"), required: true %>
        </div>
        <div class="field">
          <%= f.label :general_memo, "メモ" %><br />
          <%= f.text_area :general_memo  %>
        </div>

        <div class="actions">
          <%= f.submit "投稿", class: "btn" %>
        </div>
      <% end %>

    </div>

    <%= render 'shared/sidebar' %>

  </div>
</div>
