
<div class="post">
  <div class="icon_wrap">
    <div class="icon">
      <%= link_to gravatar_for(post.user), post.user %>
    </div>
    <div class="name">
      <%= link_to post.user.name, post.user %>
    </div>
  </div>
  <div class="content">
    <p><%=  post.content %></p>
    <%= image_tag post.image if post.image.attached? %>

    <div class="secondary">
      <div class="area item">
        <h2>エリア</h2>
        <%= link_to post.area, posts_path(area: post.area) %>
      </div>
      <div class="genre item">
        <h2>ジャンル</h2>
        <%= link_to post.genre, posts_path(genre: post.genre) %>
      </div>
      <div class="season item">
        <h2>シーズン</h2>
        <%= link_to post.season, posts_path(season: post.season) %>
      </div>
    </div>

    <ul class="tag_wrap">
      <% post.tag_list.each do |tag| %>
        <li><%= link_to tag, posts_path(tag_name: tag) %></li>
      <% end %>
    </ul>
  </div>
  <div class="bottom_wrap">
    <% if current_user?(post.user) || current_user.admin? %>
    <div class="item">
      <%= link_to "編集", edit_post_path(post) %>
    </div>
    <div class="item">
      <%= link_to "削除", post, method: :delete, data: { confirm: "投稿を削除してもよろしいですか?" } %>
    </div>
    <% end %>
    <div class="item">
      <%= post.updated_at.to_s(:datetime_jp) %>
    </div>
  </div>
</div>
