<li class="post" id="post-<%= post.id %>">
  <div class="icon_wrap">
    <p class="icon"><%= link_to gravatar_for(post.user, size: 50), post.user %></p>
    <p class="name"><%= link_to post.user.name, post.user %></p>
  </div>
  <span class="content"><%= post.content %></span>
  <span class="timestamp">投稿 <%= time_ago_in_words(post.created_at) %> 前</span>
</li>
