投稿のID: <%= @post.id %>

<% provide(:title,  @post.user.name + "さんの投稿" ) %>

<div class="posts">
  <div class="show row">

    <!-- レイアウトの余白の都合上で col-md-3 を配置 [todo]あとからなにか加える可能性がある｡ -->
    <div class="col-md-3">
    </div>

    <div class="post_wrap col-md-7">
      <div class="post">
        <div class="icon_wrap">
          <div class="icon">
            <%= gravatar_for @post.user %>
          </div>
          <div class="name">
            <%= @post.user.name %>
          </div>
        </div>
        <div class="content">
          <%= @post.content %>
        </div>
        <div class="updated_at">
          <%= @post.updated_at.to_s(:datetime_jp) %>
        </div>
      </div>
    </div>


    <div class="tag_wrap col-md-2">
      <div class="area_wrap">
        <h1>エリア</h1>
        <ul>
          <li><%= link_to "北海道", "#" %></li>
          <li><%= link_to "東北", "#" %></li>
          <li><%= link_to "関東", "#" %></li>
        </ul>
      </div>
      <div class="genre_wrap">
        <h1>ジャンル</h1>
          <ul>
            <li><%= link_to "アクティビティ", "#" %></li>
            <li><%= link_to "グルメ", "#" %></li>
            <li><%= link_to "温泉", "#" %></li>
          </ul>
      </div>
      <div class="season_wrap">
        <h1>シーズン</h1>
          <ul>
            <li><%= link_to "春", "#" %></li>
            <li><%= link_to "夏", "#" %></li>
            <li><%= link_to "秋", "#" %></li>
          </ul>
      </div>
    </div>

  </div>
</div>
